* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --bg-primary: #fef6e4;
  --bg-secondary: #f3d2c1;
  --color-primary: #001858;
  --color-secondary: #172c66;
  --divider: #001858;
  --dark-bg: #232946;
  --dark-color-primary: #fffffe;
  --dark-color-secondary: #b8c1ec;
  --lorange-color: #f3d2c1;
  --blue-color: #8bd3dd;
  --pink-color: #f582ae;
  --border-color: #001858;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

/* buttons */

.pink-btn {
  border: none;
  outline: none;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  background-color: var(--pink-color);
}
